<div class="modal-dialog" role="dialog" tabindex='-1'>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete this task</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to delete task
            <br/>
            <br/>
            <b>"Talk to Kai about something"</b>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger" data-dismiss="modal">Delete</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->