<div class="modal-dialog no_anim" tabindex='-1'>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit task</h4>
    </div>
    <div class="modal-body">
      <form class="bs-example form-horizontal">
          <div class="form-group">
              <label class="col-lg-2-4 control-label">Created</label>
              <div class="col-lg-9">
                  <input type="text" class="form-control" value="23.12.3018 | 12:34" disabled/>
              </div>
          </div>
        <div class="form-group">
          <label class="col-lg-2-4 control-label">Title</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" value=""/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2-4 control-label">Due date</label>
          <div class="col-lg-4">
            <input type="date" class="form-control"/>
          </div>
          <!--<label class="col-lg-2 control-label">Remind me</label>-->
          <!--<div class="col-lg-2">-->
            <!--<input type="checkbox" class="form-control"/>-->
          <!--</div>-->
        </div>
        <!--<div class="form-group">-->
          <!--<label class="col-lg-2-4 control-label">Status</label>-->
          <!--<div class="col-lg-4">-->
            <!--<button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">-->
              <!--<span class="dropdown-label">To do</span>-->
              <!--<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu dropdown-select">-->
              <!--<li class="active"><input type="radio" name="d-s-r" checked=""><a href="#">To do</a></li>-->
              <!--<li><input type="radio" name="d-s-r"><a href="#">In Progress</a></li>-->
              <!--<li><input type="radio" name="d-s-r"><a href="#">Blocked</a></li>-->
              <!--<li><input type="radio" name="d-s-r"><a href="#">Waiting</a></li>-->
              <!--<li><input type="radio" name="d-s-r"><a href="#">Done</a></li>-->
              <!--<li><input type="radio" name="d-s-r"><a href="#">Canceled</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
      <a href="#" class="btn btn-primary" data-dismiss="modal">Save</a>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->